@model BooksLibrary.Models.CheckoutModels.CheckoutModel;

<div class="container">
    <div class="card-header clearfix detailHeading">
        <h2 class="text-muted">Hold Library Item</h2>
    </div>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <p id="itemTitle">@Model.Title</p>
                    <img class="detailImage" src="@Model.ImageUrl"
                         alt="images_not_displayed" />
                </div>
            </div>

            <div class="col-md-9">
                <p>
                    there are currently @Model.HoldCount holds in the queue for this item...
                </p>
                @* a form that will take the item as an input and Place a hold on it *@
                @* the checkoutModel contains all of the meta-data of the clicked item
                    so a represent that checkoutModel of the selected asset*@
                @using (Html.BeginForm("PlaceHold", "Catalog", FormMethod.Post))
                {
                    @Html.HiddenFor(a => a.AssetId)
                    <div>
                        Please insert a library Card ID
                        @Html.TextBoxFor(a => a.LibraryCardId)
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success btn-lg">
                            Place a hold
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

